= render template: "navbar/index"
= stylesheet_link_tag "reset"
= stylesheet_link_tag "fancybox"
= javascript_include_tag "model_objects/model_objects"
= stylesheet_link_tag "single"
= javascript_include_tag "single/foggy"
%br
%br

#single
  %table{style: "width:100%;position:absolute;"}
    %tr
      %td#left
        = render :controller => "model_objects", :action => "categoryList", :template => "model_objects/categoryList"
      %td#main_content
        %ul#main
          #blur{:style => "background-image: url(#{@model.thumbnail.url});"}
          %li#top
            %div{"data-no-turbolink" => ""}
              #main_image{:style => "background-image: url(#{@model.thumbnail.url});"}
            #info
              .title
                = @model.name
              .content
                %br/
                = @model.description
                %br/
                %br/
                %span.tag Category : #{@model.category}
                %span.tag Submitted By : #{@modelsOwner.name}
                %br
                %br
                %br
                %span{"data-no-turbolink" => ""}
                  = link_to "Print @ Home" , generator_form_path(:modelid => @model.id), :class => "button"
                %span{"data-no-turbolink" => "true"}
                  = link_to "Print @ UW" , print_at_uw_path(:modelid => @model.id), :class => "button", :style => "background-color:#409850;"
              %li#bottom
                .item
                  .count **
                  .desicription Models
                .item
                  .count **
                  .desicription Following
                .item
                  .count **
                  .desicription Comments
              %br
              %br
              %br
              = render template: "comments/new"
              %br
              %div{:style => "text-align:left;padding: 20px 10px; background-color:#f6f6f6;border: 1px solid #e5e5e5;margin-left:-20px;width:505px;"}
                - @model.comments.each do |comment|
                  .single_comment_wrapper
                    %h1= comment.title
                    %h2= comment.username
                    %br
                    %h3= comment.description
              
#ajaxView

:javascript
  $( document ).ready(function() {

    $('#blur').foggy({
      blurRadius: 8,          // In pixels.
      opacity: 0.8,           // Falls back to a filter for IE.
      cssFilterSupport: true  // Use "-webkit-filter" where available.
    });
    
    $( '#main_image' ).click(function() {
      return $.ajax({
          type: "POST",
          url: "#{model_objects_canvas_url}",
          data: "modelid=" + #{@model.id},
          dataType: "text",
          success: function(data) {
            return $("#ajaxView").html(data);
          }
        });
    });
    
  });

