.btn-group
  %button.btn.btn-warning.dropdown-toggle.options{"data-toggle" => "dropdown", type: "button"}
    Transform Options
    %span.caret
  .dropdown-menu.wide{role: "menu"}
    = f.label :scale_factor
    (ex. 1x, 2x, ...) :
    \#{f.number_field :scale , :class => "form-control"}
    %br/
    = f.label :rotate
    (angle) :
    \#{f.number_field :rotate , :class => "form-control"}
    %br/
    = f.label :duplicate
    (number of times, arranged automatically) :
    \#{f.number_field :duplicate , :class => "form-control"}
    %br/
    
    .border_box
      %h5
        = f.label :bed_size
        (mm) :
      .row{:style => "padding-left:5px;padding-right:2px;"}
        .col-lg-5
          .input-group
            %span.input-group-addon
              x :
            = f.number_field :bed_size_x  , :class => "form-control", :placeholder => "100"
        .col-lg-5
          .input-group
            %span.input-group-addon
              y :
            = f.number_field :bed_size_y  , :class => "form-control", :placeholder => "100"

    %br/
    = f.label :duplicate_grid
    (row, columns) :
    \#{f.number_field :duplicate_grid , :class => "form-control"}
    %br/
    = f.label :duplicate_distance
    (row, columns) :
    \#{f.number_field :duplicate_distance , :class => "form-control"}
    %br/