= javascript_include_tag "home"
= render template: "navbar/index"
= stylesheet_link_tag "font-awesome.min"

%br
%br

:sass
  .border_box
    background-color : #fefefe
    border-radius : 5px
    border : 1px solid #c2c2c2
    padding : 10px

%h3{:style => "font-weight:500;text-align:left;padding:10px 15px;"} Print options for #{@model.name}
%h3{:style => "color:red;font-weight:500;text-align:left;padding:10px 15px;"} Leave values blank for default

=form_for :generator , :url => generator_submit_path , :html => {:id => "generator"},:remote => "true" do |f|
  
  %br
  .col-lg-8
    %div
      / Printer Options
      = render :partial => "printer_options", :locals => { :f => f }
      / Filament Options
      = render :partial => "filament_options", :locals => { :f => f }
      / Speed Options    
      = render :partial => "speed_options", :locals => { :f => f }
    %br
    %div
      / Acceleration Options    
      = render :partial => "acceleration_options", :locals => { :f => f }
      / Accuracy Options
      = render :partial => "accuracy_options", :locals => { :f => f }
      / Print Options
      = render :partial => "print_options", :locals => { :f => f }
    %br
    %div
      / Support Material Options
      = render :partial => "support_material_options", :locals => { :f => f }
      / Retraction Options
      = render :partial => "retraction_options", :locals => { :f => f }  
      / Cooling Options
      = render :partial => "cooling_options", :locals => { :f => f } 
    %br
    %div
      / Skirt Options
      = render :partial => "skirt_options", :locals => { :f => f } 
      / Transform Options
      = render :partial => "transform_options", :locals => { :f => f } 
      / More
      = render :partial => "more_options", :locals => { :f => f } 
    %br
    = f.text_field :modelid, :value => @model.id, :style => "display:none;"
    %button.minimal{:onclick => " $('#generator').submit();" , :type => "button", :class => "btn btn-default btn-lg", :style => "padding :6px 0px;width:160px;"}
      %span.fa.fa-gift
      Generate Gcode!
      
#generator_complete

:coffee
  $ ->
    $("form#generator").bind "ajax:complete", (e, data, status, xhr) ->
      x = JSON.parse(data.responseText)
      params = x[1].replace("Filament diameter is 1.75 mm Filament density is 1.05 g/cc Cross sectional area of filament: 0.0240527984375 cm^2","")
      str = "lanilabs.com"+x[0].replace("public","")
      $( "#generator_complete" ).html( "<p>"+params+"</p><a href=  ' http://"+ str + " ' >Download Gcode Here!</a>" )
      
    $("form#generator").bind "ajax:beforeSend", (e, data, status, xhr) ->
      $( "#generator_complete" ).html( "<p>Generating please wait...</p>" )
          
    $("form#generator").bind "ajax:error", (e, data, status, xhr) ->
      $( "#generator_complete" ).html( "<p style='color:red;'>"+Check your stl model+"</p>" )
