= stylesheet_link_tag "reset"
= stylesheet_link_tag "normalize"
= stylesheet_link_tag "about/about"
= stylesheet_link_tag "font-awesome.min"
.container
  = link_to home_index_path, {:style => "position:fixed;top:20px;left:10px;z-index:1000;"} do
    %i.fa.fa-home.fa-2x{style: "color:white;opacity:0.50;"}
  %header
    %h1
      lani is more than just
      %span 3D Printing
    %h2 Our goal is to close the gap between real and virtual reality
  .sp-slideshow
    %input#button-1.sp-selector-1{checked: "checked", name: "radio-set", type: "radio"}/
    %label.button-label-1{for: "button-1"}
    %input#button-2.sp-selector-2{name: "radio-set", type: "radio"}/
    %label.button-label-2{for: "button-2"}
    %input#button-3.sp-selector-3{name: "radio-set", type: "radio"}/
    %label.button-label-3{for: "button-3"}
    %input#button-4.sp-selector-4{name: "radio-set", type: "radio"}/
    %label.button-label-4{for: "button-4"}
    %input#button-5.sp-selector-5{name: "radio-set", type: "radio"}/
    %label.button-label-5{for: "button-5"}
    %label.sp-arrow.sp-a1{for: "button-1"}
    %label.sp-arrow.sp-a2{for: "button-2"}
    %label.sp-arrow.sp-a3{for: "button-3"}
    %label.sp-arrow.sp-a4{for: "button-4"}
    %label.sp-arrow.sp-a5{for: "button-5"}
    .sp-content
      .sp-parallax-bg
      %ul.sp-slider.clearfix
        %li
          %img{alt: "image01", src: "/assets/about/image1_alt.png"}/
        %li
          %img{alt: "image02", src: "/assets/about/image2_alt.png"}/
        %li
          %img{alt: "image03", src: "/assets/about/image3_alt.png"}/
        %li
          %img{alt: "image04", src: "/assets/about/image4_alt.png"}/
        %li
          %img{alt: "image05", src: "/assets/about/image5_alt.png"}/
    / sp-content
  / sp-slideshow
%br/
%br/