<%= render template: "navbar/index" %>
<br/>
<div style="text-align:center;width:100%;">
  <div style="width:90%;margin:auto;padding:30px 0px;	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;background-color:rgb(245, 245, 245);">
    <br/>
    <h2>Ensure file the file extension is ".stl"</h2>
    <%= form_for :currentModel, url: {controller: "model_objects" ,action: "create"}, :html => { :multipart => true } do |f| %>
    
    		<%= f.label "Name of Model :"%><br/>
    		<%= f.text_field :name %><br/>
    
    		<%= f.label "STL File : "%><br/>
    		<div style="width:100px;margin:auto;text-align:left;">
    		<%= f.file_field :stlfile %><br/>		
    		</div>
    
    		<%= f.label "Thumbnail : "%><br/>
    		<div style="width:100px;margin:auto;text-align:left;">
    		  <%= f.file_field :thumbnail %><br/>	
    		</div>
    
    		<%= f.label "Category : "%><br>
    		<%= f.select :category, options_for_select([["Art","Art"], ["Collectibles","Collectibles"], ["Electronics","Electronics"], ["Pets","Pets"], ["Accessories","Accessories"], ["Pottery","Pottery"], ["Sports","Sports"], ["Toys","Toys"]])%><br>
    
    		<%= f.label "Description : "%><br>
    		<%= f.text_field :description %><br>
    
    		<%= f.label "Price : (Optional) "%><br>
    		<%= f.text_field :price %><br>
    
    
    		<%= f.submit("Save Changes") %>
    
    		
    	<% end %>
  </div>
</div>