= render template: "navbar/index"
= stylesheet_link_tag "reset"
= stylesheet_link_tag "fancybox"
= javascript_include_tag "model_objects/model_objects"
= stylesheet_link_tag "single"
= javascript_include_tag "single/foggy"
%br
%br

#single
  %table{style: "width:100%;position:absolute;"}
    %tr
      %td#left
        = render :controller => "model_objects", :action => "categoryList", :template => "model_objects/categoryList"
      %td#main_content
        %ul#main
          #blur{:style => "background-image: url(#{@model.thumbnail.url});"}
          %li#top
            -#  %div#thumbnail{"data-no-turbolink" => "", :style => "text-align:center;position:relative;display:block;"}
            -#  = link_to(model_objects_canvas_path(:modelid => @model.id), :remote => true ) do
            -#  = image_tag @model.thumbnail.url, :height => 250, :id => "icon"
            %div{"data-no-turbolink" => ""}
              = link_to(model_objects_canvas_path(:modelid => @model.id), :remote => true ) do
                #main_image{:style => "background-image: url(#{@model.thumbnail.url});"}
            #info
              .title
                = @model.name
              .content
                %br/
                = @model.description
                %br/
                %br/
                %span.tag Category : #{@model.category}
                %span.tag Submitted By : #{@modelsOwner.name}
                %br
                %br
                %br
                = link_to "Print" , generator_form_path(:modelid => @model.id), :class => "button"
                = link_to "Add to cart" , model_objects_add_to_cart_path(:modelid => @model.id), :class => "button", :style => "background-color:#409850;"
              %li#bottom
                .item
                  .count **
                  .desicription Models
                .item
                  .count **
                  .desicription Following
                .item
                  .count **
                  .desicription Comments
              %br
              %br
              %br
              = render template: "comments/new"
              %br
              %div{:style => "text-align:left;padding: 20px 10px; background-color:#f6f6f6;border: 1px solid #e5e5e5;margin-left:-20px;width:505px;"}
                - @model.comments.each do |comment|
                  .single_comment_wrapper
                    %h1= comment.title
                    %h2= comment.username
                    %br
                    %h3= comment.description
              
#ajaxView
:javascript
  $( document ).ready(function() {

    $('#blur').foggy({
      blurRadius: 8,          // In pixels.
      opacity: 0.8,           // Falls back to a filter for IE.
      cssFilterSupport: true  // Use "-webkit-filter" where available.
    });
  });