= render template: "navbar/index"
= stylesheet_link_tag "fancybox"
= javascript_include_tag "model_objects/model_objects"

%br/
%table{style: "margin-left:auto;margin-right:auto;"}
  %td
    %div{"data-no-turbolink" => ""}
      = link_to(model_objects_canvas_path(:modelid => @model.id), :remote => true ) do
        = image_tag @model.thumbnail.url, :style => "height:250px;", :id => "icon"
  %td
    .model_description
      %h1= @model.name
      %h3
        Category : #{@model.category}
      %h3
        Submitted By : #{@modelsOwner.name}
      %h3
        Description : #{@model.description}
      %br
      %h3
        Link to model from your website!
      %textarea#iframe_value{:type=>"text", :onclick => "this.select();", :style => "width:100%"}
        <iframe src='#{request.protocol}#{request.host_with_port}/model_objects/view?modelid=#{@model.id}' style="border:1px #000000 solid;" name="myiFrame" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="600px" width="900px"></iframe>
      %div
        %div{:style=>"width:250px;margin:auto;"}
          %form{:name=>"cart", :id=>"cart", :action=>"add_to_cart", :method=>"post", :style=>"display:inline-block;margin:10px;"}
            %input{:type=>"submit", :value=>"Add to cart", :class=>"button"}
      
        

%br
%br
- @model.comments.each do |comment|
  .single_comment_wrapper
    %h1= comment.title
    %h4= comment.username
    %h3= comment.description
%br
= render template: "comments/new"
%br
#ajaxView #{render :partial => "model_objects/canvas" , locals: {model: @model}}
